<html>

<body class="ui-body-b">
		<div data-role="page" id="help-page" data-cache="false" data-add-back-btn="false" class="page logged-out">

    <div data-role="header" data-theme="x" data-id="header-mshell" data-position="fixed" data-tap-toggle="false" class="headerShadow">
			<a href="<%= url_for :controller => :Emergency, :action => :emergency_page %>" data-icon="arrow-l" data-direction="reverse" data-role="button" data-theme="b">Back</a>
			<h2>RUMobile</h2>
    </div><!-- header -->
<div data-role="content" class="content" data-theme="h">
	
  <form method="POST" action="<%= url_for :action => :setAppSettings %>" onsubmit="return confirmPopup();">
	<script type="text/javascript" charset="utf-8">
		function confirmPopup()
		{
			var conf=confirm("Are you sure?");
			if(conf==true)
				return true;
			else
				return false;
		}
	</script>
			<ul data-role="listview" data-inset="true">
				<li style="color:#fff;background-color:#000066;">Settings</li>
				<li style="color:#000;background-color:#fff;">
					<div data-role="fieldcontain">
					<legend>When will you receive notifications:</legend>
						<fieldset data-role="controlgroup" data-mini="true">
<%
#If there is an AppSettings object, store it in the appSetting variable
if !AppSettings.find(:all).empty?
	 appSetting = AppSettings.find(:first) 
	end
%>

    					<input type="radio" name="TimeIncrement" id="radio-never" value="never"
<%
#If the TimeIncrement key value of the appSetting object is equal to never
#check the never radio button on the page
if appSetting.TimeIncrement =="never" 
			value = "checked='checked'"
	 else
			value = ""
	end
%>
 data-theme="h"/>
    					<label for="radio-never">Never</label>
    					
							<input type="radio" name="TimeIncrement" id="radio-1mins" value="1"
<%
#If the TimeIncrement key value of the appSetting object is equal to 1
#check the 1min radio button on the page
if appSetting.TimeIncrement =="1" 
			value = "checked='checked'"
	 else
			value = ""
	end
%>
 	<%=value%> 
 data-theme="h"/>
    					<label for="radio-1mins">Every 1 min</label>

<input type="radio" name="TimeIncrement" id="radio-5mins" value="5"
<%
#If the TimeIncrement key value of the appSetting object is equal to 5
#check the 5min radio button on the page
if appSetting.TimeIncrement =="5" 
			value = "checked='checked'"
	 else
			value = ""
	end
%>
 	<%=value%> 
 data-theme="h"/>
    					<label for="radio-5mins">Every 5 mins</label>
    	
    					<input type="radio" name="TimeIncrement" id="radio-15mins" value="15"
<%
#If the TimeIncrement key value of the appSetting object is equal to 15
#check the 15min radio button on the page
if appSetting.TimeIncrement =="15"
			value = "checked='checked'"
	 else
			value = ""
	end
%>
	<%=value%>
  data-theme="h"/>
    					<label for="radio-15mins">Every 15 mins</label>

    					<input type="radio" name="TimeIncrement" id="radio-30mins" value="30"
<%
#If the TimeIncrement key value of the appSetting object is equal to 30
#check the 30min radio button on the page
if appSetting.TimeIncrement =="30"
			value = "checked='checked'"
 	 else
			value = ""
	end
%>
	<%=value%>
  data-theme="h"/>
    					<label for="radio-30mins">Every 30 mins</label>

    					<input type="radio" name="TimeIncrement" id="radio-1hour" value="60"
<%
#If the TimeIncrement key value of the appSetting object is equal to 60
#check the 1hour radio button on the page
if appSetting.TimeIncrement =="60"
			value = "checked='checked'"
	 else
			value = ""
	end
%>
	<%=value%>
  data-theme="h"/>
    					<label for="radio-1hour">Every 1 hour</label>

    					<input type="radio" name="TimeIncrement" id="radio-2hours" value="120"
<%
#If the TimeIncrement key value of the appSetting object is equal to 120
#check the 2hour radio button on the page
if appSetting.TimeIncrement =="120"
			value = "checked='checked'"
	 else
			value = ""
	end
%>
 	<%=value%>
  data-theme="h"/>
    					<label for="radio-2hours">Every 2 hours</label>

					</fieldset>	
				</div>
			</li>


<%
#Grab the NotificationTypes key value from appSetting
#and split it into an array on the , char
csv = appSetting.NotificationTypes
	 nTypes = csv.split(",")
%>
			<li style="color:#000;background-color:#fff;">
				<div data-role="fieldcontain">
				<legend>What alerts will you receive:</legend>
					<fieldset data-role="controlgroup">
						<input type="checkbox" name="EmergenciesCB" id="EmergenciesCB" class="custom" value="0"
							<%
								#If nTypes includes the value 0 for Emergencies, check the checkbox
								if nTypes.include?('0')
									selected="checked='checked'"
								 else
									selected=""
								 end
							%>
							<%=selected%>					
	
						 />
						<label for="EmergenciesCB">Emergencies</label>
	
						<input type="checkbox" name="WeatherCB" id="WeatherCB" class="custom" value="1"
							<%
							#If nTypes includes the value 1 for Weather, check the checkbox
								if nTypes.include?('1')
									selected="checked='checked'"
								 else
									selected=""
								 end
							%>
							<%=selected%>					

/>
						<label for="WeatherCB">Weather</label>
	
						<input type="checkbox" name="NewsCB" id="NewsCB" class="custom" value="2"
							<%
							#If nTypes includes the value 2 for News, check the checkbox
							if nTypes.include?('2')
									selected="checked='checked'"
								 else
									selected=""
								 end
							%>
							<%=selected%>					
 />
						<label for="NewsCB">News</label>
					</fieldset>
				</div>
			</li>
		</ul>
   <input type="submit" value="Confirm Change"/> 
   </form>
<div data-role="footer" data-theme="z" id="icon-mshell-show-page" data-position="fixed">
      <img data-icon="ru" src="../../public/images/blank.gif" class="footerLogo">
    </div><!-- footer -->
</div><!-- /page -->
</body>
</html>
