<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<!-- so once bookmarked the page will appear as an app and wont show the url area. -->
	
	<!-- CSS -->
		<!-- JQuery Mobile CSS -->
		<link rel="stylesheet" href="../public/jqmobile/jquery.mobile-1.0.1.css" />
		
		<link rel="stylesheet" href="../public/jqmobile/jquery.mobile.datebox-1.0.1.min.css" />

    <!-- Mobile Connection Theme CSS -->
    <link rel="stylesheet" href="../public/jqmobile/mc-theme.css"/>

    <!-- Mobile Connection Layout CSS -->
    <link rel="stylesheet" href="../public/css/mc.css" />
    <link rel="stylesheet" href="../public/css/mc-custom.css" />

    <!-- Mshell CSS -->
    <link rel="stylesheet" href="../public/css/mshell.css" /> 
    <link rel="stylesheet" href="../public/css/mshell-custom.css" />

    <!-- m-App CSS - needed for icon rendering in list-show and icon-show -->
    <link rel="stylesheet" href="../public/css/help.css" />


  <!-- JavaScript -->

    <!-- JQuery -->
    <script src="../public/jquery/jquery-1.6.4.min.js"></script>

		<!-- Mobile Connection Mobile Inits -->

    <!-- Mshell Mobile Inits -->
      <script src="../public/js/mshell-mobileinit.js"></script>

  	<!-- JQuery Mobile JS -->
      <script src="../public/jqmobile/jquery.mobile-1.0.1.min.js"></script>
    	<script src="../public/jqmobile/jquery.mobile.datebox-1.0.1.min.js"></script>

    <!-- Mobile Connection JS -->
      <script src="../public/js/mc.js"></script>

    <!-- Mshell JS -->
      <script src="../public/js/mshell.js"></script>
</head>
<body class="ui-body-b">
		<div data-role="page" id="help-page" data-cache="false" data-add-back-btn="false" class="page logged-out">

    <div data-role="header" data-theme="x" data-id="header-mshell" data-position="fixed" data-tap-toggle="false" class="headerShadow">
			<a href="<%= url_for :controller => :Emergency, :action => :emergency_page %>" data-icon="arrow-l" data-direction="reverse" data-role="button" data-theme="b">Back</a>
			<h2>RUMobile</h2>
    </div><!-- header -->
<div data-role="content" class="content" data-theme="h">
	
  <form method="POST" action="<%= url_for :action => :setAppSettings %>" onsubmit="return confirmPopup();">
	<script type="text/javascript" charset="utf-8">
		function confirmPopup()
		{
			var conf=confirm("Are you sure?");
			if(conf==true)
				return true;
			else
				return false;
		}
	</script>
			<ul data-role="listview" data-inset="true">
				<li style="color:#fff;background-color:#000066;">Settings</li>
				<li style="color:#000;background-color:#fff;">
					<div data-role="fieldcontain">
					<legend>When will you receive notifications:</legend>
						<fieldset data-role="controlgroup" data-mini="true">
<%if !AppSettings.find(:all).empty?
	 appSetting = AppSettings.find(:first) 
	end%>

    					<input type="radio" name="TimeIncrement" id="radio-never" value="never"
<% if appSetting.TimeIncrement =="never" 
			value1 = "checked='checked'"
	 else
			value1 = ""
	end
%>
 data-theme="h"/>
    					<label for="radio-never">Never</label>

<!--    					<input type="radio" name="TimeIncrement" id="radio-push" value="Push(Automatic)" checked="checked" data-theme="h"/>
    					<label for="radio-push">Push(Automatic)</label>
-->
							<input type="radio" name="TimeIncrement" id="radio-5mins" value="5"
<% if appSetting.TimeIncrement =="5" 
			value1 = "checked='checked'"
	 else
			value1 = ""
	end
%>
 	<%=value1%> 
 data-theme="h"/>
    					<label for="radio-5mins">Every 5 mins</label>
    	
    					<input type="radio" name="TimeIncrement" id="radio-15mins" value="15"
<% if appSetting.TimeIncrement =="15"
			value2 = "checked='checked'"
	 else
			value2 = ""
	end
%>
	<%=value2%>
  data-theme="h"/>
    					<label for="radio-15mins">Every 15 mins</label>

    					<input type="radio" name="TimeIncrement" id="radio-30mins" value="30"
<% if appSetting.TimeIncrement =="30"
			value3 = "checked='checked'"
 	 else
			value3 = ""
	end
%>
	<%=value3%>
  data-theme="h"/>
    					<label for="radio-30mins">Every 30 mins</label>

    					<input type="radio" name="TimeIncrement" id="radio-1hour" value="60"
<% if appSetting.TimeIncrement =="60"
			value4 = "checked='checked'"
	 else
			value4 = ""
	end
%>
	<%=value4%>
  data-theme="h"/>
    					<label for="radio-1hour">Every 1 hour</label>

    					<input type="radio" name="TimeIncrement" id="radio-2hours" value="120"
<% if appSetting.TimeIncrement =="120"
			value5 = "checked='checked'"
	 else
			value5 = ""
	end
%>
 	<%=value5%>
  data-theme="h"/>
    					<label for="radio-2hours">Every 2 hours</label>

					</fieldset>	
				</div>
			</li>


<% csv = appSetting.NotificationTypes
	 nTypes = csv.split(",")
%>
			<li style="color:#000;background-color:#fff;">
				<div data-role="fieldcontain">
				<legend>What alerts will you receive:</legend>
					<fieldset data-role="controlgroup">
						<input type="checkbox" name="EmergenciesCB" id="EmergenciesCB" class="custom" value="emergency"
							<% if nTypes.include?('emergency')
									selected="checked='checked'"
								 else
									selected=""
								 end
							%>
							<%=selected%>					
	
						 />
						<label for="EmergenciesCB">Emergencies</label>
	
						<input type="checkbox" name="WeatherCB" id="WeatherCB" class="custom" value="weather"
							<% if nTypes.include?('weather')
									selected="checked='checked'"
								 else
									selected=""
								 end
							%>
							<%=selected%>					

/>
						<label for="WeatherCB">Weather</label>
	
						<input type="checkbox" name="NewsCB" id="NewsCB" class="custom" value="news"
							<% if nTypes.include?('news')
									selected="checked='checked'"
								 else
									selected=""
								 end
							%>
							<%=selected%>					
 />
						<label for="NewsCB">News</label>
					</fieldset>
				</div>
			</li>
		</ul>
   <input type="submit" value="Confirm Change"/> 
   </form>
<div data-role="footer" data-theme="z" id="icon-mshell-show-page" data-position="fixed">
      <img data-icon="ru" src="../../public/images/blank.gif" class="footerLogo">
    </div><!-- footer -->
</div><!-- /page -->
</body>
</html>
