<html>

	<body class="ui-body-b">
		<div data-role="page" id="help-page" data-cache="false" data-add-back-btn="false" class="page logged-out">

    <div data-role="header" data-theme="x" data-id="header-mshell" data-position="fixed" data-tap-toggle="false" class="headerShadow">
			<a href="<%= Rho::RhoConfig.start_path %>" data-icon="arrow-l" data-direction="reverse" data-role="button" data-theme="b">Back</a>
			<h2>RUMobile</h2>
			<a href="<%= url_for :controller => :AppSettings, :action => :index %>" id="settingsButton" data-icon="gear" data-role="button" data-theme="b">Settings</a>
    </div><!-- header -->

	<div data-role="content" class="content" data-theme="h">
	
	<ul data-role="listview" data-inset="true">
		<li style="color:white;background-color:#000066;color:#fff;">RU Alerts</li>
		<%  
				# Assume we will display everything
		    @whatShouldIDisplay = 0 
		    if File.exists?(File.join(Rho::RhoApplication::get_base_app_path, "hide")) 
		%>
		<% 
			 # Read the last hidden alert
		   File.open(File.join(Rho::RhoApplication::get_base_app_path, "hide"), 
		      File::RDWR|File::CREAT){ |f|
		      f.flock(File::LOCK_EX)
		      @whatShouldIDisplay = f.read()
		      f.close} %>
		<% end %>
		<% if @emergencys.empty? %>
				<li style="color:#000;background-color:#fff;"><h3>No Current Alerts</h3>
				<p style="white-space:normal">There are currently no recent alerts. If you have additional questions, please call the Office of Emergency Preparedness at (540) 831-7155
        or (540) 831-6696</p>
				</li>
		<% else %>
		  <% @displayed = false 
		     @filter = AppSettings.find(:first).NotificationTypes
		     @filter = @filter.split(',')
		  %> 
			<%         
			# Write all of the emergencies to the page excluding those that should be filtered
      # and those that have been hidden.
			@emergencys.each do |emg| 
			%>

			  <% if emg.fullTime.to_i > @whatShouldIDisplay.to_i && (@filter.include?(emg.category) || emg.category.eql?("4")) %>
  			  <a href="<%= url_for :action => :show, :id => emg.object %>">
  				<li style="color:#000;background-color:#fff;"><h3><%= emg.title %></h3>
  				<p><%= emg.description %></p>
  				<p class="ui-li-aside"><strong><%= emg.date %> <%= emg.time %></strong></p>
  				</li></a>
  				<% @displayed = true %>
				<% end %>
			<% end %>
			<% if !@displayed %>
			  <li style="color:#000;background-color:#fff;"><h3>No Current Alerts</h3>
			  <p style="white-space:normal">There are currently no recent alerts. If you have additional questions, please call the Office of Emergency Preparedness at (540) 831-7155
			  or (540) 831-6696</p>
			  </li>
			<% end %>
		<% end %>
	</ul>
		<div data-role="button" data-theme="b">
		<a href="<%= url_for(:action => :refresh_database) %>"> Refresh </a>
		</div>
    <div data-role="button" data-theme="b">
    <a href="<%= url_for(:action => :hide_all) %>"> Clear Alerts </a>
    </div>
    <div data-role="button" data-theme="b">
      <a href="<%= url_for(:action => :portal) %>"> Edit RU Alert Contact Info</a>
    </div>
    </div>
    <div data-role="footer" data-theme="z" id="icon-mshell-show-page" data-position="fixed">
      <img data-icon="ru" src="../../public/images/blank.gif" class="footerLogo">
    </div><!-- footer -->
</div><!-- /page -->
</body>
</html>
