<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- so once bookmarked the page will appear as an app and wont show the url area. -->
  
  <!-- CSS -->
    <!-- JQuery Mobile CSS -->
    <link rel="stylesheet" href="../../../public/jqmobile/jquery.mobile-1.0.1.css" />
    
    <link rel="stylesheet" href="../../../public/jqmobile/jquery.mobile.datebox-1.0.1.min.css" />

    <!-- Mobile Connection Theme CSS -->
    <link rel="stylesheet" href="../../../public/jqmobile/mc-theme.css"/>

    <!-- Mobile Connection Layout CSS -->
    <link rel="stylesheet" href="../../../public/css/mc.css" />
    <link rel="stylesheet" href="../../../public/css/mc-custom.css" />

    <!-- Mshell CSS -->
    <link rel="stylesheet" href="../../../public/css/mshell.css" /> 
    <link rel="stylesheet" href="../../../public/css/mshell-custom.css" />

    <!-- m-App CSS - needed for icon rendering in list-show and icon-show -->
    <link rel="stylesheet" href="../../../public/css/help.css" />


  <!-- JavaScript -->

    <!-- JQuery -->
    <script src="../../../public/jquery/jquery-1.6.4.min.js"></script>

    <!-- Mobile Connection Mobile Inits -->

    <!-- Mshell Mobile Inits -->
      <script src="../../../public/js/mshell-mobileinit.js"></script>

    <!-- JQuery Mobile JS -->
      <script src="../../../public/jqmobile/jquery.mobile-1.0.1.min.js"></script>
      <script src="../../../public/jqmobile/jquery.mobile.datebox-1.0.1.min.js"></script>

    <!-- Mobile Connection JS -->
      <script src="../../../public/js/mc.js"></script>

    <!-- Mshell JS -->
      <script src="../../../public/js/mshell.js"></script>

  </head>
  <body class="ui-body-b">
    <div data-role="page" data-add-back-btn="false">
    
      <div data-role="header" data-position="inline" data-theme="x">
        <h1><%= @emergency.title %></h1>
        <a href="<%= url_for :controller => :Emergency, :action => :emergency_page  %>" class="ui-btn-left" data-theme="b" data-icon="arrow-l" data-direction="reverse">
          Back
        </a>
      </div>
    
      <div data-role="content">
        <h2><%= @emergency.title %></h2>
        <h3><%= @emergency.time %> <%= @emergency.date %></h3>
        <p><%= @emergency.description %></p>
      </div>
    
    </div>
  </body>
</html>  
