<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline" data-theme="x">
    <h1><%= @emergency.title %></h1>
    <a href="<%= url_for :controller => :Emergency, :action => :emergency_page  %>" class="ui-btn-left" data-theme="b" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
  </div>

  <div data-role="content">
		<h2><%= @emergency.title %></h3>
		<h3><%= @emergency.time %> <%= @emergency.date %></h2>
		<p><%= @emergency.description %></p>
  </div>

</div>
